{% extends 'main/leyout.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<font class="main-title">
     {{ title }} 
</font>

<font class="main-title">
    Ігри
</font>
<font size="4px">
    <ul>
        <li>S.T.A.L.K.E.R. Shadow of Chernobyl</li>
        <li>Counter Strike:GO</li>
        <li>DayZ</li>
        <li>World of Tanks Blitz</li>
        <li>PUBG Mobile</li>
        <li>Crossout</li>
        <li>Garry's Mod</li>
        S.T.A.L.K.E.R. Тень Чернобыля
        S.T.A.L.K.E.R. Зов Припяти
        S.T.A.L.K.E.R. Чистое Небо
        Witcher 3 Wild Hunt
        Counter Strike GO
        Counter Strike 1.6
        Garry's Mod
        Portal 2
        DayZ
        GTA V
        GTA San Andreas
        GTA Vice City
        Final Fantasy XIV
        Everlasting Summer
        Arma 3
        Minecraft Java Edition
        Fall Guys
        War Thunder
        World of Tanks
        World of Tanks Blitz
        Crossout
        The Binding of Isaac: Afterbirth+
        The Binding of Isaac: Rebirth
        The Forest
        Left 4 Dead 2
        Warframe
        SCP Secret Labotory
        Hitman 3
        Dead by Daylight
    </ul>
</font>
{% endblock %}